/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  height: 100vh;
  min-width: 600px;
  overflow-y: hidden;
}

/deep/.mat-tab-body-content {
  overflow-y: scroll;
}

.descriptionHtml {
  font-family: "Roboto Medium", sans-serif;
}

.descriptionHtml .descriptionIO {
  display: flex;
  align-items: stretch;
  margin: 0 -5px;
}

.descriptionHtml .descriptionIO * {
  margin: 10px 5px;
}

.descriptionHtml pre, .dottedUnderline {
  flex: 1;
  font-family: "Roboto Mono", Consolas, monospace;
  border: inset 1px #cccccc;
  background-color: #666666;
  background-image:
      linear-gradient(to right, #f0f0f0, #f0f0f0 1px, transparent),
      linear-gradient(to bottom, #f0f0f0, #f0f0f0 19px, transparent);
  /*-webkit-background-size: 4px 20px;*/
  line-height: 20px;
  background-size: 2px 20px;
  padding: 0 .5em;
}
