/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  height: 100vh;
  min-width: 600px;
  overflow-y: hidden;
}

/deep/.mat-tab-body-content {
  overflow-y: scroll;
}
