.headerCard {
  min-width: 300px;
  width: 700px;
  max-width: 85%;
  margin: 10px auto;
}

md-sidenav-container {
  height: 100%;
}
md-list md-sidenav {
}

.currentCard {
  min-width: 400px;
  width: 800px;
  max-width: 80%;
  margin: 10px auto;
}

.preferenceCard {
  min-width: 300px;
  width: 600px;
  max-width: 85%;
  margin: 10px auto;
}
