<mat-card *ngIf="submission" class="currentCard">
  <mat-card-title>{{submission.problem.title}}</mat-card-title>
  <mat-card-content>
    SUBMITTED
    <dbgjdg-code-editor
      [code]="submission.code" [readonly]="true"></dbgjdg-code-editor>
    CORRECT
    <dbgjdg-code-editor
      [code]="submission.problem.answer" [readonly]="true"></dbgjdg-code-editor>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="accept(submission)">Accept</button>
    <button mat-button (click)="reject(submission)">Reject</button>
    <button mat-button (click)="defer(submission)">Defer</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="!submission" class="currentCard">
  <mat-card-title>No Submission Available:</mat-card-title>
  <mat-card-content>{{statusMessage}}</mat-card-content>
</mat-card>

<mat-card class="preferenceCard">
  <mat-card-title>Problem Preferences</mat-card-title>
  <mat-card-subtitle>Check all problems which you would like to judge.</mat-card-subtitle>
  <mat-list>
    <div *ngFor="let problem of problems">
      <mat-checkbox [(ngModel)]="problemPreferences[problem.id]">{{problem.title}}</mat-checkbox>
    </div>
  </mat-list>
  <mat-card-actions>
    <button mat-button (click)="updatePreferences()">Submit</button>
  </mat-card-actions>
</mat-card>
