<md-card *ngIf="submission" class="currentCard">
  <md-card-title>{{submission.problem.title}}</md-card-title>
  <md-card-content>
    SUBMITTED
    <code-editor
      [code]="submission.code"></code-editor>
    CORRECT
    <code-editor
      [code]="submission.problem.answer"></code-editor>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="accept(submission)">Accept</button>
    <button md-button (click)="reject(submission)">Reject</button>
  </md-card-actions>
</md-card>

<md-card *ngIf="!submission" class="currentCard">
  <md-card-title>No Submission Available:</md-card-title>
  <md-card-content>{{statusMessage}}</md-card-content>
</md-card>
