<md-card class="problemcard">
  <md-card-title>{{problem.title}}</md-card-title>
  <md-card-subtitle>Something should go here</md-card-subtitle>

  <md-card-content>
    {{problem.description}}
  </md-card-content>

  <md-menu></md-menu>

  <code-editor #editor
               precode="{{problem.precode}}"
               [code]="problem.code"
               [green]="problemSolved"
               [readonly]="problemSolved"
               postcode="{{problem.postcode}}"></code-editor>

  <md-card-actions layout="row" layout-align="end center">
    <button md-raised-button (click)="submit()">Submit</button>
  </md-card-actions>
</md-card>

<div class="submissionList">
  <md-card>
    <div class="toggle-container" [@openClose]="stateExpression">
      <div class="submissionListing" *ngFor="let submission of submissions">
        {{submission.submissionTime.getHours()}}:{{('0'+submission.submissionTime.getMinutes()).slice(-2)}}:{{('0'+submission.submissionTime.getSeconds()).slice(-2)}}
        <br>
        <code-editor [code]="submission.code" [green]="submission.accepted==true" [red]="submission.accepted==false" [readonly]="true"></code-editor>
      </div>
    </div>
    <md-card-actions>
      <button md-raised-button (click)="expand()">View Submissions</button>
      <button md-raised-button (click)="collapse()">Hide</button>
    </md-card-actions>
  </md-card>
</div>
