<md-card>
  <md-card-title>Team Standings</md-card-title>

  <md-card-content>
    <table>
      <thead>
        <tr>
          <td>Place</td>
          <td>Correct</td>
          <td>Team</td>
          <td class="problemName" *ngFor="let problem of problems">{{problem.title}}</td>
        </tr>
      </thead>
      <tr *ngFor="let team of teams">
        <td>{{team.place}}</td>
        <td>{{team.score.correct}}</td>
        <td>{{team.name}}</td>
        <td [ngClass]="{'green':(teamAcceptances[team.id]||{})[problem.id]}" *ngFor="let problem of problems">
          {{(teamSubmissionCounts[team.id]||{})[problem.id] || 0}}</td>
      </tr>
    </table>
  </md-card-content>

  <md-card-actions>
    <button md-button (click)="refresh();">Refresh</button>
  </md-card-actions>
</md-card>
