<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <nav>
      <h3>ACMDC</h3>
      <hr/>
      <button mat-button [disabled]="true">Team View</button>
      <button mat-button [disabled]="true">Scoreboard</button>
      <hr/>
      <button mat-button [disabled]="true">Log Out</button>
    </nav>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="menu-button" (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>ACM Debugging Competition</span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
