<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <nav>
      <h3>ACMDC</h3>
      <hr/>
      <button mat-button routerLink="/" (click)="sidenav.close()">Team View</button>
      <button mat-button routerLink="/scoreboard" (click)="sidenav.close()">Scoreboard</button>
      <hr/>
      <a mat-button href="/logout" (click)="sidenav.close()">Log Out</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button class="menu-button" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ACM Debugging Competition</span>
      <!-- TODO: Notifications -->
      <!--<span class="toolbar-spacer"></span>-->
      <!--<button mat-button class="menu-button" (click)="notifdrawer.toggle()">-->
      <!--  <mat-icon>gavel</mat-icon>-->
      <!--</button>-->
    </mat-toolbar>
  
    <mat-drawer-container>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
      <!-- TODO: Notifications -->
      <!--<mat-drawer mode="side" position="end" [opened]="true" #notifdrawer>-->
      <!--  <h1>Notifications</h1>-->
      <!--</mat-drawer>-->
    </mat-drawer-container>
  </mat-sidenav-content>
  
</mat-sidenav-container>
