<mat-card class="problemcard">
  <mat-card-title>{{problem.title}}
    <span *ngIf="problemSolved" class="solvedSpan">SOLVED</span></mat-card-title>
  <mat-card-subtitle>Language: {{problem.language}}</mat-card-subtitle>

  <mat-card-content>
    {{problem.description}}
  </mat-card-content>

  <mat-menu></mat-menu>

  <dbgjdg-code-editor #editor
               precode="{{problem.precode}}"
               [code]="problem.code"
               [green]="problemSolved"
               [readonly]="problemSolved"
               postcode="{{problem.postcode}}"></dbgjdg-code-editor>

  <mat-card-actions layout="row" layout-align="end center">
    <button mat-raised-button
            [disabled]="problemSolved"
            (click)="submit()">Submit</button>
    <button mat-raised-button
            [disabled]="problemSolved"
            (click)="reset()">Reset</button>
  </mat-card-actions>
</mat-card>

<div class="submissionList">
  <mat-card>
    <div class="toggle-container" [@openClose]="stateExpression">
      <div class="submissionListing" *ngFor="let submission of submissions">
        {{submission.submissionTime.getHours()}}:{{('0'+submission.submissionTime.getMinutes()).slice(-2)}}:{{('0'+submission.submissionTime.getSeconds()).slice(-2)}}
        <br>
        <dbgjdg-code-editor [code]="submission.code" [green]="submission.accepted==true" [red]="submission.accepted==false" [readonly]="true"></dbgjdg-code-editor>
      </div>
    </div>
    <mat-card-actions>
      <button mat-raised-button
              [ngClass]="{'notify': notify}"
              [disabled]="submissions.length == 0"
              (click)="expand()">View Submissions</button>
      <button mat-raised-button
              [disabled]="submissions.length == 0"
              (click)="collapse()">Hide</button>
    </mat-card-actions>
  </mat-card>
</div>
